# MQTT Configuration
MQTT_HOST=things.shanhehuhai.cn
MQTT_PORT=1883
MQTT_USERNAME=garden
MQTT_PASSWORD=garden123
MQTT_TOPIC_DOWN=garden_weather/down
MQTT_TOPIC_UP=garden_weather/up
MQTT_UNIT_ID=2
MQTT_TELEMETRY_TOPIC=v1/devices/me/telemetry
MQTT_CLIENT_ID=gardenx

# Modbus TCP Configuration
MODBUS_HOST=192.168.2.4
MODBUS_PORT=502
MODBUS_UNIT_ID=1

# Soil and Air Sensor Configuration
SOIL_UNIT_ID=2
AIR_UNIT_ID=1

# 温度误差补充 +3
SOIL_TEMP_DIFF=3
AIR_TEMP_DIFF=3

# API Configuration
API_URL=http://example.com/api/data

# General Settings
READ_INTERVAL=30  # seconds 